
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    accent-color: #ff0000;
}
body{
    font-family: poppins,sans-serif;
    width: 1300px;
    margin: 0 auto;
    scroll-behavior: smooth;
}
.nav{
    display: flex;
    margin: 0 20px 0 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    font:18px poppins,sans-serif;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#logo{
    background-image: url(logo.png);
    background-size:cover;
    width: 100px;
    height: 80px;
}
.nav #menu ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
}
.nav #menu ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: .2s;
}
.nav #menu ul li a:hover{
    color: #8053fd;
}

/* first container */
.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: none;
    color: #ffffff;
    padding: 100px 35px ;
}
.home ::selection{
    background-color: #8e05b1;
    color: #ffffff;

}
.home #name h1{
    font:112px "Be vietnam pro",sans-serif;
    line-height: 1em;
    letter-spacing: -6px;
}
.home #name h2{
    font: 112px "Playfair Display",sans-serif;
    font-style: italic;
}
.home .imgcntr{
    width: auto;
    display: flex;
    flex-direction: column;
}
.home .imgcntr #pro_image{
    background-image: url(photo.jpg);
    background-size: cover;
    width: 500px;
    height: 600px;
    border-radius: 50%;
}
.home .imgcntr #probtn{
    margin-top: 20px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 50px;
    height: auto;
}
.home .imgcntr #probtn .fbutton{
    padding: 10px 20px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    font: 24px poppins,sans-serif;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.425);
    transition: 1s;
}
.home .imgcntr #probtn .fbutton:hover{
    background-color: #073655;
    color: #ffffff;
    animation: pulse .5s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* scond box style */
.scnd_lnk{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    font:20px "Be vietnam pro",sans-serif;;
    padding: 100px ;
}
.scnd_lnk a{
    text-decoration: none;
    color: #000000;
    transition: .2s;
}

.scnd_lnk a .fa-arrow-down , .fa-facebook, .fa-square-instagram, .fa-linkedin{
    margin-right: 10px;
}
.scnd_lnk ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
}
.scnd_lnk ul li a{
    text-decoration: none;
    color: #000000;
    transition: .2s;
}
.scnd_lnk ul li a:hover{
    color: #0883a8;
}

/* second container */
#about{
    display: flex;
    justify-content: space-around;
    align-items: top;
    background-color: #ffffff;
    color: #000000;
    gap: 220px;
    margin: 200px 0 300px 0;
    padding: 0 200px 0 100px;
}
#about ::selection{
    background-color: #8e05b1;
    color: #ffffff;

}
#about .num ,.abt h2{
    width: auto;
    text-align: justify;
    font: 32px "Poppins",sans-serif;
    padding-bottom: 30px;
}
#about .abt p{
    font: 18px "Poppins",sans-serif;
    text-align: justify;
    padding-bottom: 30px;
    letter-spacing: .56px;
    line-height: 1.5;
}
#about .abt p::first-letter {
    font-size: 3em;
    float: left;
    line-height: 1;
    margin-right: 0.1em;
}
#about .abt a{
    margin:0px 0px 0px 200px;
    padding: 10px 20px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    font: 24px poppins,sans-serif;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 15px 5px 5px 5px rgba(0, 0, 0, 0.329);
    transition: 1s;
}
#about .abt a:hover{
    background-color: #073655;
    color: #ffffff;
    animation:ease-in-out 1s infinite;
}